    {% extends 'WebPortfolioApp/base.html' %}


{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="text-center mb-5">{{ project.title }}</h1>
            <div class="col-sm mx-auto">
                {% if project.upload_img %}
                    <div class="proj-img d-flex justify-content-center mb-5"><img class="detail-img" src="{{ project.upload_img.url }}"></div>
                {% endif %}
            </div>
            <div class="col-8 mx-auto">
                {{ project.descr|linebreaks }}
                {% if project.upload %}
                    <div class="proj-img d-flex justify-content-center mt-5"><img class="detail-img" src="{{ project.upload.url }}"></div>
                {% endif %}
                    <div class="d-flex justify-content-center mt-5 mb-5"><p style="font-size: 18px; color: #7B68EE;">Ссылка на репозиторий Git: &nbsp;</p><a href="{{ project.git_url }}">Git Code</a></div>
            </div>
            <form action="{% url 'like_project' project.slug %}" method="POST">
                {% csrf_token %}
            {% if user.is_authenticated %}
                {% if liked %}
                    <button type="submit" class="btn btn-danger" name="project_id" value="{{project.id}}">Unlike</button>
                {% else %}
                    <button type="submit" class="btn btn-primary" name="project_id" value="{{project.id}}">Like</button>
                {% endif %}
            {% else %}
                <small><a href="{% url 'login' %}">Login</a> to like</small>
            {% endif %}
                · {{ total_likes }} Likes
            </form>
            <hr class="mt-3">
            <h2 class="mb-4">Comments...</h2>
            {% if not project.comments.all %}
                No Comments Yet...<div class="mb-4"><a class="link-primary" href="{% url 'add_comment' project.slug %}">Add comment</a></div>

            {% else %}
            {% if user.is_authenticated %}
            <div class="mb-3"><a class="link-primary" href="{% url 'add_comment' project.slug %}">Add comment</a></div>
            {% else  %}
            <div class="mb-3"><a class="link-primary" href="{% url 'login' %}">Login to add comment</a></div>
            {% endif %}
                {% for comment in project.comments.all %}
                <strong>
                    {{ comment.name }} -
                    {{ comment.date_added }}
                    {% if user == comment.commentator %}
                            <a class="fw-normal link-primary" href="{% url 'edit_comment' comment.pk %}">[edit]</a>
                            <a class="fw-normal link-primary" href="{% url 'delete_comment' comment.pk %}">[delete]</a>
                    {% endif %}
                </strong>
                <br>
                <p>{{ comment.body }}</p>

                <br>
                <br>
                {% endfor %}
            {% endif %}

        </div>
    </div>
{% endblock %}

