

a {
    text-decoration: none;
    color: #000000;
}


.register-style a.nav-link {
    display: inline;
}

.register-style {
    margin-top: 6.9px;
    margin-left: 20px;
    font-size: 19px;
}


.proj-img img {
    height: 0 auto;
    max-width: 350px;
    border: 1.5px solid;
    border-radius: 10px;

}



a.btn.btn-outline-primary {
    float: right;
}

a.nav-link {
    color: #000000;
}

a.page-link {
    color: #000000;
}

.row.class-proj {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.page-item.page-num-selected {
    background-color: #89CFF0;
    color: #ffffff;
}

ul.sub-link {
    position: absolute;
    background: #ffffff;
    display: none;
}

ul.sub-link li {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0);
    list-style: none;
    border-radius: 2px;
}

ul.sub-link li a:hover {
    background: #000000;
    color: #ffffff;
    text-decoration: none;
}


ul li:hover > ul {
    display: initial;
}

img.detail-img {
    height: auto;
    max-width: 1000px;
    border-radius: 10px;
}


.theme-icon {
    width: 40px;
    cursor: pointer;

}


#toggleThemeBtn {
    background: rgba(0, 0, 0, 0);
    border: none;
}


body.dark {
    background: #222222;
    color: #ffffff;
}
body.dark .nav-link {
    color: white;
}
body.dark span {
    color: white;
}