.proj-img img {
    height: 0 auto;
    width: 350px;
    border: 1.5px solid;
    border-radius: 10px;

}

a.btn.btn-outline-primary {
    float: right;
}

a.nav-link {
    color: #000000;
}

a.page-link {
    color: #000000;
}

.row.class-proj {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.page-item.page-num-selected {
    background-color: #89CFF0;
    color: #ffffff;

}

